.pageContainer {
  font-size: 16px;
  min-height: 65vh;
  z-index: 1000;
  display: flex;
}
@media (max-width: 645px) {
  .pageContainer {
    display: flex;
    flex-direction: column;
  }
  .imgBox {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .imgBox img {
    width: 150px;
  }
}

.coverContainer {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 238, 213);
}
.imgBox {
  width: 100%;
  display: flex;
  justify-content: center;
}
.imgBox img {
  width: 350px;
}
.infoContainer {
  margin: 50px 30px;
  display: flex;
  flex-direction: column;
}
p {
  margin: 0;
}
.categories {
}
.title {
}
.description {
  margin-top: 50px;
  padding: 10px;
  max-width: 800px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.184);
  line-height: 20px;
  font-weight: bold;
  overflow: auto;
}
